@media screen and (max-width: 768px){
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }


    /* Ajuste para o cabeçalho (header) */
    header {
        padding: 15px 0;
    }

    .menu {
        display: none;
    }

    .btn-contact button, .hero button {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }

    .logo, .btn-contact {
        margin: 0 20px;
    }

    .hero-txt h1 {
        font-size: 3em;
        line-height: 60px;
    }

    .container-items {
        flex-direction: column;
    }

    .container-items .txt-items, .container-items .img-items, #chaletnone {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    #chalet{
        display: none;
    }

    #chaletnone {
        display: initial;
    }

    .img-items img {
        max-width: 100%;
    }

    .location {
        padding-top: 0px;
    }

    .contact-txt {
       display: flex;
       flex-direction: column;
       margin: 0 auto;
       margin-bottom: 40px;
       
    }
    
    .contact-txt h3 {
        
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    .contact-txt span {
        display: block;
        font-size: 1.2em; 
    }
    

    .contact-icons{
        display: block;
        margin: 0 auto;
    }


    .contact-icons button {
        width: 100%;
        padding: 0 30px;
        font-size: 14px;
    }

    .footer-content {
        flex-direction: column;
    }

    .support {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    header {
        padding: 15px 0;
    }

    .menu nav li {
        display: inline-block;
        margin: 0 10px; 
        font-weight: 600;

    }

    .btn-contact button,
    .hero button {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }

    .hero-txt h1 {
        font-size: 3em;
        line-height: 60px;
    }

    .container-items {
        flex-direction: column;
    }

    .container-items .txt-items,
    .container-items .img-items,
    #chaletnone {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    
    #chalet {
        display: none;
    }

    #chaletnone {
        display: initial;
    }

    .img-items img {
        max-width: 100%;
    }

   
    .location {
        padding-top: 0px; 
    }

    
    .contact-txt {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .contact-txt h3 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .contact-txt span {
        display: block;
        font-size: 1.2em; 
    }

  
    .contact-icons {
        display: block;
        margin: 0 auto;
    }

    .contact-icons button {
        width: 100%;
        padding: 0 30px;
        font-size: 14px;
    }

   
    .footer-content {
        flex-direction: column;
    }

    
    .support {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
}

